@import url(../css/normalize.css);
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.ttf"); }

body {
  font-family: "Proxima Nova", "Arial", sans-serif; }

.header-col__logo {
  color: #040404;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 30px; }

.header-col__info {
  color: #000000;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 13px; }

.header-col__numb {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 18px; }

.header-col__btn {
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff4f58), to(#fd7048));
  background: -webkit-linear-gradient(bottom, #ff4f58 0%, #fd7048 100%);
  background: -o-linear-gradient(bottom, #ff4f58 0%, #fd7048 100%);
  background: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  margin-top: 12px; }

.carousel {
  height: 100vh;
  min-height: 830px; }
  .carousel-inner:after {
    content: '';
    display: block;
    position: absolute;
    background: -webkit-linear-gradient(340deg, rgba(0, 0, 0, 0.4) 40%, transparent 40%, transparent 60%);
    background: -o-linear-gradient(340deg, rgba(0, 0, 0, 0.4) 40%, transparent 40%, transparent 60%);
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.4) 40%, transparent 40%, transparent 60%);
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .carousel-control {
    z-index: 2; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-height: 35px; }
  .navbar-inverse {
    background-color: rgba(0, 0, 0, 0.4);
    border: none; }
  .navbar-nav {
    float: none; }

.nav-col {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 10px;
  text-align: center; }
  .nav-col:after {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background: #cccccc;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nav-col:last-child:after {
    display: none; }
  .nav-col-main {
    font-weight: 700; }

.nav > li > a {
  padding: 7px 5px; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.title {
  position: absolute;
  top: 5%;
  left: 5%;
  margin-left: 15px;
  z-index: 2;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: -1.55px;
  padding: 23px 45px 0 35px;
  font-family: 'NTR', 'Arial', sans-serif;
  overflow: hidden; }
  .title-text {
    position: relative;
    color: #000000; }
    .title-text:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 300%;
      top: -95%;
      left: 0;
      z-index: -1;
      background: rgba(255, 255, 255, 0.7);
      -webkit-transform: rotate(20deg);
          -ms-transform: rotate(20deg);
              transform: rotate(20deg); }

.content {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 2;
  margin-left: 15px; }
  .content-text {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .content-btn {
    border: 2px solid #ffffff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff4f58), to(#fd7048));
    background-image: -webkit-linear-gradient(bottom, #ff4f58 0%, #fd7048 100%);
    background-image: -o-linear-gradient(bottom, #ff4f58 0%, #fd7048 100%);
    background-image: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #ffffff;
    width: 246px;
    font-size: 23px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 11px 0; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 246px;
  height: 50px;
  position: absolute;
  bottom: 50%;
  left: 5%;
  margin-left: 15px; }

.carousel-control.left, .carousel-control.right {
  background: none !important; }

.right-arrow, .left-arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%); }

.carousel-indicators {
  position: absolute;
  bottom: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  margin: 0 !important; }

.caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 5%;
  top: 185px;
  font-family: 'NTR', 'Arial', sans-serif; }
  .caption-name {
    position: relative;
    overflow: hidden;
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    padding: 8px 60px 13px 65px;
    z-index: 1;
    height: 60px;
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    background: rgba(255, 255, 255, 0.7); }
    .caption-name:after {
      content: "";
      display: block;
      width: 120%;
      right: 50%;
      -webkit-transform: translateX(-10%);
          -ms-transform: translateX(-10%);
              transform: translateX(-10%);
      height: 3px;
      background: #000; }
  .caption-price {
    position: relative;
    color: #ffffff;
    font-size: 18px;
    line-height: 48px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
    background: -webkit-gradient(linear, left top, right top, from(#2aeb2a), to(#007500));
    background: -webkit-linear-gradient(left, #2aeb2a 0%, #007500 100%);
    background: -o-linear-gradient(left, #2aeb2a 0%, #007500 100%);
    background: linear-gradient(to right, #2aeb2a 0%, #007500 100%); }
    .caption-price__numb {
      font-size: 45px;
      font-weight: 900;
      padding: 0 5px; }

.advantages {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 1;
  margin-bottom: 15px; }
  .advantages-col {
    margin-top: 15px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .advantages-col__info {
      color: #000000;
      font-size: 16px;
      font-weight: 400; }
      .advantages-col__info h3 {
        font-size: 22px;
        font-weight: 700;
        padding: 19px 10px; }

@media (min-width: 768px) and (max-width: 991px) {
  .header-col__numb {
    font-size: 30px; }
  .header-col__btn {
    font-size: 11px; }
  .navbar-nav li {
    padding: 5px; }
  .nav-col {
    font-size: 12px; }
  .title {
    top: 50px;
    font-size: 40px;
    padding-top: 14px; }
  .caption {
    left: 8%;
    top: 120px; }
    .caption-name {
      font-size: 24px; }
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    top: 200px; }
    .content-btn {
      font-size: 18px;
      line-height: 1.24;
      padding: 5px 12px;
      width: inherit;
      margin-right: 5px; }
    .content-text {
      margin-bottom: 0; }
  .controls {
    bottom: 0;
    top: 250px; }
  .advantages {
    position: relative; } }

@media (max-width: 767px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    float: right; }
  .navbar-nav li a {
    line-height: 1.24;
    padding: 0; }
  .navbar-inverse .navbar-nav li a, .nav li {
    padding: 0; }
  .nav-col {
    font-size: 10px; }
    .nav-col:after {
      display: none; }
  .title {
    top: 40px;
    left: 0;
    margin: 0;
    font-size: 20px;
    padding-top: 10px; }
  .header-col {
    padding-bottom: 5px; }
    .header-col__numb {
      font-size: 25px;
      padding: 0;
      margin-top: 2px; }
    .header-col__btn {
      padding: 5px;
      margin-top: 0; }
  .caption {
    top: 80px; }
    .caption-name {
      font-size: 10px;
      line-height: 1.24;
      padding: 4px 20px 0px 20px;
      height: 30px; }
    .caption-price {
      font-size: 14px;
      line-height: 1.24;
      width: 100px;
      height: 24px; }
      .caption-price__numb {
        font-size: 25px; }
  .content {
    top: 17%;
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .content-text {
      text-align: center;
      color: #000;
      margin-bottom: 5px; }
  .controls {
    bottom: 0;
    top: 250px;
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .carousel-indicators li {
    background: transparent;
    border-color: #d7d2d1; }
  .carousel-indicators .active {
    background: #d7d2d1;
    border: transparent; }
  .advantages {
    position: relative;
    top: 170px; } }
